@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
    --primary-color: #8ECAE6;
    --secondary-color: #219EBC;
    --text-dark: #FB8500;
    --text-light: #FFB703;
    --primary-font: 'Gloria Hallelujah', cursive;
    --secondary-font: 'Gloria Hallelujah', cursive;
    /* other colors #023047, #FFB703, #FB8500 */
}

header {
    background-color: var(--secondary-color);
    color: var(--text-light);
    text-align: center;
    padding: 10px;
    font-family: var(--secondary-font);
    font-size: 2rem;
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

.login-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: var(--secondary-color);
    color: var(--text-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--secondary-font);
}

.login-buttons button:hover {
    background-color: var(--text-light);
    color: var(--secondary-color);
}

/* Container for the game thumbnail and text */
.game-thumbnail-container {
    text-align: center;
    margin-top: 50px; /* Adjust the margin as needed */
    width: 50%; /* Set the container width to 100% */
    margin-left: 25%;

}

/* Styling for the game thumbnail */
.game-thumbnail-container img {
    max-width: 100%; /* Make sure the image doesn't exceed the container width */
    border-radius: 10px; /* Add rounded corners to the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow to the image */
}

/* Styling for the text below the game thumbnail */
.game-thumbnail-container p {
    margin-top: 10px; /* Add some space between the image and the text */
    font-size: 1.2rem; /* Adjust the font size as needed */
    color: #023047 /* Use a darker text color */
}
