@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
    --primary-color: #8ECAE6;
    --secondary-color: #219EBC;
    --text-dark: #FB8500;
    --text-light: #FFB703;
    --primary-font: 'Gloria Hallelujah', cursive;
    --secondary-font: 'Gloria Hallelujah', cursive;
    /* other colors #023047, #FFB703, #FB8500 */
}

header {
    background-color: var(--secondary-color);
    color: var(--text-light);
    text-align: center;
    padding: 10px;
    font-family: var(--secondary-font);
    font-size: 2rem;
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}